<div class="container-fluid d-flex align-items-center" style="background-image: url(assets/img/banners/nosotros.png); background-size: cover; height: 400px;">
    <!-- <img src="assets/img/banners/banner.png" alt="banner" class="img-fluid"> -->
    <div class="container text-white p-5 ">
        <div class="d-flex justify-content-center">
            <div class="col-md-6 text-center">
                <h1 class="title-header bungee">nosotros</h1>
                <p class="text-header">
                    Somos apasionados de la facultad más pura que tiene el ser humano: crear. Proque cuando creamos no tenemos limites, llegamos a niveles inimaginables a través de todo lo que hacemos para dejarte satisfecho con los productos que están en tu vehiculo
                </p>
            </div>
        </div>
    </div>
</div>
<div class="bg-light p-5 my-4">
    <div class="container">
        <div class="row d-flex align-items-center vision">
            <div class="col-md-4 p-3">
                <img src="assets/img/icon/star.png" alt="nosotros" class="img-fluid">
            </div>
            <div class="col-md-8">
                <h1>Nuestra visión</h1>
                <p>
                    Tenemos la visión de crear más que un producto, una experiencia, que nos posicione como una empresa líder a nivel global dentro de la industria de autopartes.
                </p>
            </div>
        </div>

    </div>
</div>
<div class="bg-light p-5 my-4">
    <div class="container">
        <div class="row d-flex align-items-center vision">
            <div class="col-md-8 text-right">
                <h1>Nuestra Cultura</h1>
                <p class="font-16">Somos una compañía que le gusta asumir retos</p>
                <p>
                    La industria en la que estamos es muy tradicional, por lo que debemos hacer las cosas de manera diferente por eso para nosotros los limites no existe, por que sabemos que, si alguien más lo puede hacer, nosotros debemos hacerlo mejor y más rápido
                </p>
            </div>
            <div class="col-md-4 p-3">
                <img src="assets/img/icon/cultura.png" alt="nosotros" class="img-fluid">
            </div>
        </div>
    </div>
</div>
<div class="" style="background-image: url(assets/img/banners/nosotrosfooter.png); background-size: cover; background-repeat: no-repeat;">
    <div class="bg-social-opacity d-flex align-items-center" style="height: 500px;">

        <div class="container text-white p-5 ">
            <div class="d-flex justify-content-center">
                <div class="col-md-6 text-center">
                    <h1 class="title-header">Nuestra gente</h1>
                    <p class="text-header">
                        En Yosai, somos un equipo multicultural conformado por profesionales comprometidos en marca un antes y un después en la industria a la cual pertenecemos. Por eso nuestros colaboradores hacen de la superación, la innovación y la pasión un estilo de vida.
                    </p>
                    <div class="mt-4 d-flex justify-content-center">
                        <a href="#" class="btn btn-outline-light p-conocenos">CONTACTANOS</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>