<div class="container" style="background-image: url(assets/img/productos/bmwlateral.png); 
background-size: 70%;
background-position: 105%;
background-repeat: no-repeat;
">
    <div aria-label="breadcrumb">
        <ol class="d-flex mt-5">
            <li class="breadcrumb-item"><a href="#">Home</a></li>
            <li class="breadcrumb-item"><a href="#">Productos</a></li>
            <li class="breadcrumb-item active" aria-current="page">Plastic Metal</li>
        </ol>
    </div>
    <div class="p-5">
        <div class="border-iz text-oscuro">
            <p class="ml-3 text-parts weight-bold">Plastic <br> & Metal Parts</p>
        </div>
        <p class="ml-3">Lorem ipsum dolor sit amet consectetur adipisicing elit. In ut possimus unde optio eos id illo modi, earum sit officia. Magni, sunt quas? Ducimus ab molestiae repudiandae autem natus voluptatem.</p>
    </div>
</div>
<section>
    <div class="container">
        <div class="bg-light my-4 my-4" style="background-image: url(assets/img/productos/bmw.png); background-size: cover; 
        background-size: 78%;
        background-position: -79%;
        background-repeat: no-repeat;
        ">
            <div class="" style="background-image: url(assets/img/productos/bmw.png); background-size: cover; 
        background-size: 78%;
        background-position: -79%;
        background-repeat: no-repeat;
        ">
                <div class=" p-5 grid-parts-image align-items-center">
                    <div class="">
                        <div class="border-iz text-oscuro">
                            <p class="bungee ml-3 text-parts ">Plastic parts</p>
                        </div>
                        <p class="text-uppercase text-bumper ml-3">bumper inner - fender inner - grille</p>
                        <div class="mt-4">
                            <a href="#" class="text-uppercase text-oscuro vermas">ver más <i
                                class="ml-2 fas fa-angle-double-right"></i></a>
                        </div>
                    </div>
                    <div class="p-2">
                        <div class="p-3 rounded bg-white contenedor-parts">
                            <img src="assets/img/productos/plasticparts.png" alt="productos" class="img-fluid">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="bg-light my-4">
            <div class="" style="background-image: url(assets/img/productos/bmwlateral.png); 
            background-size: 70%;
            background-position: 105%;
            background-repeat: no-repeat;
            ">
                <div class="p-5 grid-parts-image align-items-center">
                    <div class="p-2">
                        <div class="p-3 rounded bg-white contenedor-parts">
                            <img src="assets/img/productos/metalparts.png" alt="productos" class="img-fluid">
                        </div>
                    </div>
                    <div class="">
                        <div class="border-de text-oscuro">
                            <p class="text-right bungee mr-3 text-parts">Metal parts</p>
                        </div>
                        <p class="text-uppercase text-right text-bumper mr-3">hoot - fender</p>
                        <div class="mt-4 text-right">
                            <a href="#" class="text-uppercase text-oscuro vermas">ver más <i
                                    class="ml-2 fas fa-angle-double-right"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>