<div class="container">
    <div class="p-5 d-flex align-items-center">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-md-6">
                    <img src="assets/img/producto/product12.png" alt="productos" class="img-fluid">
                </div>
                <div class="col-sm-12 col-md-6 d-flex align-items-center">
                    <div class="text-left">
                        <p class="titulo-header-1">Tie Rod End</p>
                        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dolorem voluptatem ea enim, quod tempora eius accusantium non dignissimos ipsum ex tenetur officia numquam aspernatur, unde modi vero, explicabo est fuga.</p>
                        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dolorem voluptatem ea enim, quod tempora eius accusantium non dignissimos ipsum ex tenetur officia numquam aspernatur, unde modi vero, explicabo est fuga.</p>
                        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dolorem voluptatem ea enim, quod tempora eius accusantium non dignissimos ipsum ex tenetur officia numquam aspernatur, unde modi vero, explicabo est fuga.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-md-6 mt-4">
                    <div class="border-red">
                        <p class="atributo-title">ATRIBUTOS</p>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam excepturi illum nesciunt iste, maxime mollitia at, ea rerum eius doloremque explicabo beatae tempore quisquam error et quasi omnis ipsam deserunt.</p>
                    </div>
                </div>
                <div class="col-sm-12 col-md-6 mt-4">
                    <div class="border-red">
                        <p class="atributo-title">ATRIBUTOS</p>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam excepturi illum nesciunt iste, maxime mollitia at, ea rerum eius doloremque explicabo beatae tempore quisquam error et quasi omnis ipsam deserunt.</p>
                    </div>
                </div>
                <div class="col-sm-12 col-md-6 mt-4">
                    <div class="border-red">
                        <p class="atributo-title">ATRIBUTOS</p>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam excepturi illum nesciunt iste, maxime mollitia at, ea rerum eius doloremque explicabo beatae tempore quisquam error et quasi omnis ipsam deserunt.</p>
                    </div>
                </div>
                <div class="col-sm-12 col-md-6 mt-4">
                    <div class="border-red">
                        <p class="atributo-title">ATRIBUTOS</p>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam excepturi illum nesciunt iste, maxime mollitia at, ea rerum eius doloremque explicabo beatae tempore quisquam error et quasi omnis ipsam deserunt.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="p-5">
        <p class="subtitulo text-uppercase">Productos Similares</p>
        <div class="row d-flex justify-content-center">
            <div class="col-sm-12 col-md-5 col-lg-3 text-center mt-4">
                <div class="shadow">
                    <img src="assets/img/producto/product7.png" alt="producto" class="img-fluid img-producto">
                </div>
                <div class="bg-red">
                    <p class="m-0 text-white">BALL JOIN</p>
                </div>
            </div>
            <div class="col-sm-12 col-md-5 col-lg-3 text-center mt-4">
                <div class="shadow">
                    <img src="assets/img/producto/product3.png" alt="producto" class="img-fluid img-producto">
                </div>
                <div class="bg-red">
                    <p class="m-0 text-white">CONTROL ARM</p>
                </div>
            </div>
            <div class="col-sm-12 col-md-5 col-lg-3 text-center mt-4">
                <div class="shadow">
                    <img src="assets/img/producto/product4.png" alt="producto" class="img-fluid img-producto">
                </div>
                <div class="bg-red">
                    <p class="m-0 text-white">RACK END</p>
                </div>
            </div>
        </div>
    </div>
</div>