<div class="container">
    <div class="p-5">
        <div class="border-iz text-oscuro">
            <p class="ml-3 text-parts weight-bold">Cooling <br>Products</p>
        </div>
        <p class="ml-3 text-oscuro">Lorem ipsum dolor sit amet consectetur adipisicing elit. In ut possimus unde optio eos id illo modi, earum sit officia. Magni, sunt quas? Ducimus ab molestiae repudiandae autem natus voluptatem.
        </p>
    </div>
    <hr>
</div>
<section>
    <div class="container p-5">
        <div class="row">
            <div class="col-sm-12 col-md-4 mt-4">
                <div class="shadow p-3 bg-white">
                    <img src="assets/img/productos/coolin-3.png" alt="Cooling" class="img-fluid cooling-card">
                    <p class="bungee text-oscuro">Radiator</p>
                    <div class="mt-4">
                        <a href="#" class="text-uppercase text-oscuro vermas" style="padding: 3px 1em;">ver más 
                            <i class="ml-2 fas fa-angle-double-right"></i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-4 mt-4">
                <div class="shadow p-3 bg-white">
                    <img src="assets/img/productos/coolin-2.png" alt="Cooling" class="img-fluid cooling-card">
                    <p class="bungee text-oscuro">Condenser</p>
                    <div class="mt-4">
                        <a href="#" class="text-uppercase text-oscuro vermas" style="padding: 3px 1em;">ver más 
                            <i class="ml-2 fas fa-angle-double-right"></i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-4 mt-4">
                <div class="shadow p-3 bg-white">
                    <img src="assets/img/productos/coolin-1.png" alt="Cooling" class="img-fluid cooling-card">
                    <p class="bungee text-oscuro">cooling fan</p>
                    <div class="mt-4">
                        <a href="#" class="text-uppercase text-oscuro vermas" style="padding: 3px 1em;">ver más 
                            <i class="ml-2 fas fa-angle-double-right"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="text-center mt-5">
            <p class="text-oscuro text-parts weight-bold text-uppercase">Productos Yosai</p>
            <div class="row align-items-center">
                <div class="col-md-12 col-lg-6 mt-4">
                    <div class="bg-light">
                        <div class="p-3" style="background-image: url(assets/img/productos/bmwlateral.png);
                        background-size: 70%;
                        background-position: 105%;
                        background-repeat: no-repeat;">
                            <div class="grid-parts-2">
                                <div class="p-2">
                                    <div class="p-3 rounded bg-white contenedor-micro">
                                        <img src="assets/img/productos/coolin-1.png" alt="" class="img-fluid">
                                    </div>
                                </div>
                                <div class="p-2">
                                    <div class="p-3 rounded bg-white contenedor-micro">
                                        <img src="assets/img/productos/coolin-2.png" alt="" class="img-fluid">
                                    </div>
                                </div>
                                <div class="p-2">
                                    <div class="p-3 rounded bg-white contenedor-micro">
                                        <img src="assets/img/productos/coolin-3.png" alt="" class="img-fluid">
                                    </div>
                                </div>
                                <div class="text-right">
                                    <div class="border-de text-oscuro">
                                        <p class="mr-3 text-parts-small bungee">Cooling <br> Products</p>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>

                </div>
                <div class="col-md-12 col-lg-6 mt-4">
                    <div class="bg-light">
                        <div class="p-3" style="background-image: url(assets/img/productos/bmw.png);
                        background-size: 78%;
                        background-position: -79%;
                        background-repeat: no-repeat;">
                            <div class="grid-parts">
                                <div class="text-left">
                                    <div class="border-iz text-oscuro">
                                        <p class="ml-3 text-parts-small bungee">lamps</p>
                                    </div>
                                </div>
                                <div class="p-2">
                                    <div class="p-3 rounded bg-white contenedor-micro">
                                        <img src="assets/img/productos/lamps-1.jpg" alt="" class="img-fluid">
                                    </div>
                                </div>
                                <div class="p-2">
                                    <div class="p-3 rounded bg-white contenedor-micro">
                                        <img src="assets/img/productos/lamps-2.jpg" alt="" class="img-fluid">
                                    </div>
                                </div>
                                <div class="p-2">
                                    <div class="p-3 rounded bg-white contenedor-micro">
                                        <img src="assets/img/productos/lamps-3.png" alt="" class="img-fluid">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>