<div class="relative">
    <div class="container-fluid d-flex align-items-center" style="background-image: url(assets/img/banners/contactenos.png); background-size: cover; height: 400px;">
        <!-- <img src="assets/img/banners/banner.png" alt="banner" class="img-fluid"> -->
        <div class="container text-white p-5 ">
            <div class="d-flex justify-content-center">
                <h1 class="title-header bungee">Formulario de Contacto</h1>
            </div>
        </div>
    </div>
    <section class="h-contact">
        <div class="container p-5">
            <div class="shadow rounded p-5 bg-white mt-100">
                <p class="text-center text-mensaje">Escribe un Mensaje</p>
                <div class="row mt-5">
                    <div class="col-sm-12 col-md-6 mt-4">
                        <label for="" class="text-negro contact-size">Nombre y Apellido</label>
                        <input type="text" placeholder="Escribir aqui.." class="form-control">
                    </div>
                    <div class="col-sm-12 col-md-6  mt-4">
                        <label for="" class="text-negro contact-size">Correo ELectrónico *</label>
                        <input type="email" placeholder="Escribir aqui.." class="form-control" required>
                    </div>
                    <div class="col-sm-12 col-md-6  mt-4">
                        <label for="" class="text-negro contact-size">Organización / Empresa</label>
                        <input type="text" placeholder="Escribir aqui.." class="form-control">
                    </div>
                    <div class="col-sm-12 col-md-6  mt-4">
                        <label for="" class="text-negro contact-size">Tema *</label>
                        <select name="" id="" class="form-control">
                            <option value="">Sleccione tema aquí</option>
                        </select>
                    </div>
                    <div class="col-sm-12 mt-4">
                        <textarea name="" id="" cols="30" rows="10" class="form-control" placeholder="Escriba aquí el mensaje..."></textarea>
                    </div>
                    <div class="col-sm-12 d-flex justify-content-center mt-4">
                        <a href="#" class="btn-yosia">ENVIAR</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
<div class="bg-social p-5">
    <div class="container text-white">
        <div class="row d-flex align-items-center">
            <div class="col-md-6">
                <p class="texto-parachoque">Contactenos</p>
                <p>No dudes en consultar con nosotros, la distancía no es un problema y nuestra atención al cliente es la mejor. Te esperamos.</p>
            </div>
            <div class="col-md-6">
                <div class="">
                    <div class="grid-contact">
                        <i class="fas fa-map-marker-alt fa-2x"></i>
                        <p class="m-0">Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta magnam recusandae dignissimos architecto ipsa distinctio fugit</p>
                    </div>
                    <div class="mt-4 grid-contact">
                        <i class="far fa-envelope fa-2x"></i>
                        <a href="mailto:correo@mail.com">correo@mail.com</a>
                    </div>
                    <div class="mt-4 grid-contact">
                        <i class="fas fa-phone-alt fa-2x"></i>
                        <a href="tel:+51555555">+51055555</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>