<div class="container-fluid d-flex align-items-center" style="background-image: url(assets/img/banners/productos.png); background-size: cover; height: 400px;">
  <!-- <img src="assets/img/banners/banner.png" alt="banner" class="img-fluid"> -->
  <div class="container text-white p-5 ">
    <div class="d-flex justify-content-end">
      <div class="col-md-6">
        <h1 class="title-header bungee">Productos de alta calidad</h1>
      </div>
    </div>
  </div>
</div>
<div class="bg-social p-5">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-3">
        <img src="assets/img/productos/parachoque.png" alt="productos" class="img-fluid">
      </div>
      <div class="col-sm-12 col-md-6 text-white">
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eligendi quia iusto quis, facere necessitatibus, ipsum architecto illo veniam consequatur repellendus quibusdam! Ullam vel nostrum doloribus perspiciatis voluptates iusto voluptatibus ratione?
      </div>
      <div class="col-sm-12 col-md-3">
        <img src="assets/img/productos/parachoque.png" alt="productos" class="img-fluid">
      </div>
    </div>
  </div>
</div>
<section>
  <div class="container">
    <div class="p-5 my-4" style="background-image: url(assets/img/imagenes/beneficio-3.png); background-size: cover;">
      <div class="grid-parts">
        <div class="">
          <div class="border-iz">
            <p class="bungee ml-3 text-parts">Plastic <br> metal parts</p>
          </div>
          <p class="text-uppercase text-bumper ml-3">bumper - inner - crille - fender - hood</p>
          <p class="text-small ml-3">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eum magnam laboriosam nostrum consequuntur aperiam officiis illum unde praesentium quasi amet.</p>
        </div>
        <div class="p-2">
          <div class="p-3 rounded bg-white contenedor-parts">
            <img src="assets/img/productos/hood.jpg" alt="productos" class="img-fluid">
          </div>
        </div>
        <div class="p-2">
          <div class="p-3 rounded bg-white contenedor-parts">
            <img src="assets/img/productos/hood.jpg" alt="productos" class="img-fluid">
          </div>
        </div>
        <div class="p-2">
          <div class="p-3 rounded bg-white contenedor-parts">
            <img src="assets/img/productos/hood.jpg" alt="productos" class="img-fluid">
          </div>
        </div>
      </div>
    </div>
    <div class="p-5 my-4" style="background-image: url(assets/img/imagenes/beneficio-3.png); background-size: cover;">
      <div class="grid-parts-2">
        <div class="p-2">
          <div class="p-3 rounded bg-white contenedor-parts">
            <img src="assets/img/productos/hood.jpg" alt="productos" class="img-fluid">
          </div>
        </div>
        <div class="p-2">
          <div class="p-3 rounded bg-white contenedor-parts">
            <img src="assets/img/productos/hood.jpg" alt="productos" class="img-fluid">
          </div>
        </div>
        <div class="p-2">
          <div class="p-3 rounded bg-white contenedor-parts">
            <img src="assets/img/productos/hood.jpg" alt="productos" class="img-fluid">
          </div>
        </div>
        <div class="">
          <div class="border-de">
            <p class="text-right bungee mr-3 text-parts">Plastic <br> metal parts</p>
          </div>
          <p class="text-uppercase text-right text-bumper mr-3">bumper - inner - crille - fender - hood</p>
          <p class="text-small text-right mr-3">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eum magnam laboriosam nostrum consequuntur aperiam officiis illum unde praesentium quasi amet.</p>
        </div>
      </div>
    </div>
    <div class="p-5 my-4" style="background-image: url(assets/img/imagenes/beneficio-3.png); background-size: cover;">
      <div class="grid-parts">
        <div class="">
          <div class="border-iz">
            <p class="bungee ml-3 text-parts">Plastic <br> metal parts</p>
          </div>
          <p class="text-uppercase text-bumper ml-3">bumper - inner - crille - fender - hood</p>
          <p class="text-small ml-3">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eum magnam laboriosam nostrum consequuntur aperiam officiis illum unde praesentium quasi amet.</p>
        </div>
        <div class="p-2">
          <div class="p-3 rounded bg-white contenedor-parts">
            <img src="assets/img/productos/hood.jpg" alt="productos" class="img-fluid">
          </div>
        </div>
        <div class="p-2">
          <div class="p-3 rounded bg-white contenedor-parts">
            <img src="assets/img/productos/hood.jpg" alt="productos" class="img-fluid">
          </div>
        </div>
        <div class="p-2">
          <div class="p-3 rounded bg-white contenedor-parts">
            <img src="assets/img/productos/hood.jpg" alt="productos" class="img-fluid">
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
