@import url('https://fonts.googleapis.com/css2?family=Bungee&display=swap')
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,600;0,700;0,800;1,400;1,500;1,600;1,700;1,800&display=swap')
$oscuro: #292b3e
$wine: #9698af
$social: #51557c
$gris: #6e7982

body
    font-family: 'Montserrat', sans-serif!important

h1,
h2,
h3,
h4,
h5,
h6
    font-family: 'Montserrat', sans-serif

.bungee
    font-family: 'Bungee', cursive

.bg-social-input
    background-color: #51557c7a
    border-radius: .35rem

.bg-social
    background-color: $social

.bg-gray
    background-color: $gris

.bungee
    font-family: 'Bungee', cursive

.title-header
    font-size: 5em
    line-height: 1

.text-producto
    font-size: 18px

.transparent
    background-color: transparent!important
    border-color: transparent!important

input::focus
    background-color: yellow!important
    box-shadow: inherit!important

.bg-social-input>
    ::placeholder
        color: white
        opacity: 1

.text-beneficios
    font-size: 2em
    line-height: 1

.flex-end
    display: flex
    align-items: flex-end
    >p
        margin: 0
        padding: 0.5em
.p-m5
    padding: 0.5em

.border-iz
    border-left: 4px solid

.border-de
    border-right: 4px solid

.text-parts
    font-size: 4em
    line-height: 1

.text-parts-small
    font-size: 2em
    line-height: 1

.grid-parts
    display: grid
    grid-template-columns: 2fr 1fr 1fr 1fr
    align-items: center

.grid-parts-2
    display: grid
    grid-template-columns: 1fr 1fr 1fr 2fr
    align-items: center

.grid-parts-image
    display: grid
    grid-template-columns: 1fr 1fr

.text-bumper
    font-weight: 500

.text-small
    font-size: 12px

.contenedor-parts
    text-align: center
    >img
        height: 200px
        object-fit: contain

.contenedor-micro
    >img
        height: 40px
        object-fit: cover

.grid-light
    display: grid
    grid-template-columns: 2fr 1fr 1fr 1fr 1fr

.grid-auto
    display: grid
    grid-template-columns: 40% 1fr

.p-conocenos
    padding: 5px 55px

// nosotros
.vision
    >div
        >h1
            color: $social
            font-size: 3em
        >p
            color: #333

.bg-social-opacity
    background-color: #51557cb0

.font-16
    font-size: 16px
    font-weight: 500

// Contact
.text-mensaje
    color: $social
    font-size: 3em!important
    font-weight: 500
    line-height: 1

.text-negro
    color: #333

.contact-size
    font-size: 17px
    font-weight: 500

.btn-yosia
    background-color: $oscuro
    color: white
    border-radius: 7px
    transition: all .3s ease
    padding: 8px 80px
    &:hover
        text-decoration: none
        color: white
        background-color: #3f4367

// Productos internos

    // metal parts

.text-oscuro
    color: $oscuro

.vermas
    border: 2px solid
    padding: 8px 3em
    font-weight: 600
    transition: all .3s ease
    &:hover
        background-color: $oscuro
        border: 2px solid
        color: white
        text-decoration: none

.descargar
    padding: 8px 3em
    font-weight: 600
    transition: all .3s ease
    background-color: $oscuro
    border: 2px solid
    color: white
    &:hover
        color: $oscuro
        background-color: white
        border: 2px solid
        text-decoration: none

.weight-bold
    font-weight: 600

// plastic parts
.icon-producto
    width: 20%

.text-icon
    font-size: small
    line-height: 2

.line
    line-height: 2

// cooling card

.cooling-card
    height: 300px
    object-fit: contain
    width: -webkit-fill-available
// radiator
.radiator-img
    height: 200px
    width: -webkit-fill-available
    object-fit: contain

.radiator-cover
    height: 255px
    object-fit: cover

.grid-radiator
    display: grid
    grid-template-columns: 1fr 2fr

.border-light
    border: 1px solid #b9bbcb!important
    height: 230px
    width: -webkit-fill-available

.img-light
    height: 130px

.width-75
    width: 55%

.lamp-xs
    display: none

.lamp-producto
    height: 184px

@media (max-width: 767px)
    .grid-light, .grid-parts, .grid-parts-2, .grid-parts-image, .grid-radiator
        grid-template-columns: 1fr!important

    .mt-100
        margin-top: 0px!important

    .h-contact
        height: auto!important

    .grid-footer
        grid-template-columns: 1fr

    .contenedor-micro > img
        height: auto!important
    
    .width-75
        width: 100%!important

    .title-header
        font-size: 3em!important

    .lamp-lg
        display: none

    .lamp-xs
        display: block!important
        font-size: x-large!important
        text-align: center!important

    .lamp-producto
        height: 0px!important

@media (max-width: 992px)
    .grid-footer
        grid-template-columns: 1fr

    .contenedor-micro > img
        height: inherit!important

    .title-header
        font-size: 4em

    .width-75
        width: 75%

    .col-md-5
        margin-top: 20px
        margin-bottom: 20px

    .contenedor-parts
        margin: 20px 0 20px 0

    .text-parts
        font-size: 3em

@media (max-width: 1143px)
    .grid-auto
        grid-template-columns: 1fr!important

@media screen and (max-width: 1199px)
    .grid-light, .grid-parts, .grid-parts-2
        grid-template-columns: 1fr 1fr

    .items-title
        display: none

    .items-title-sm
        display: block!important

.items-title-sm
    display: none
